@font-face {
    font-family: 'Departure Mono Regular';
    src: url('assets/font/DepartureMono/DepartureMono-Regular.woff2'),
         url('assets/font/DepartureMono/DepartureMono-Regular.woff');
}

body {
    font-family: 'Departure Mono Regular', monospace;
    font-size: 16px;
    background-color: hsl(255, 0%, 0%);
}

p {
    color: hsl(0, 0%, 100%);
}

header {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin: 50px auto;
    max-width: 30%;
}

h2 {
    color: hsl(0, 0%, 100%);
    text-align: center;

}

/* Links */
a {
    color: hsl(0, 0%, 100%);
    margin: 10px;
}

a:hover {
    color: hsl(0, 0%, 60%);
}

a:active {
    color: hsl(255, 100%, 90%);
}


hr {
    color: hsl(0, 0%, 50%);
    max-width: 99%;
}

/* Ascii Art*/
.ascii-art {
    color: hsl(255, 100%, 100%);
    white-space: pre;
    margin: 50px auto;
    text-align: center;
}

/* navigation bar start*/
nav {
    text-align: center;
    margin: 20px auto;
    padding: 10px 15px;
    width: fit-content;
    max-width: 80%;
    outline: hsl(0, 0%, 100%) solid medium;
}

nav a {
    text-decoration: none;
}
/* navigation bar end*/


/* start page */
.start-page p {
    text-align: center;
    margin: 20px auto;
    max-width: 30%;
}

/* Socials */



.box-title {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.socials-box {
    text-align: left;
    margin: 40px auto;
    padding: 10px 15px;
    width: fit-content;
    max-width: 80%;
    outline: hsl(0, 0%, 100%) dashed thin;
}