@font-face {
    font-family: 'Departure Mono Regular';
    src: url('assets/font/DepartureMono/DepartureMono-Regular.woff2'),
         url('assets/font/DepartureMono/DepartureMono-Regular.woff');
}

body {
    margin: 2px;
    padding: 0;
    font-family: 'Departure Mono Regular', monospace;
    font-size: 18px;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    min-height: 100vh;
    flex-grow: 1;
}


main {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100vh;
    background-color: hsl(0, 0%, 5%, 90%);
    border: 2px solid hsl(0, 0%, 100%, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    backdrop-filter: blur(20px);
    width: 90%;
    /*max-width: 90%;*/

}

p {
    color: hsl(0, 0%, 100%);

}

header {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin: 50px auto;
    max-width: 50%;
}

h3 {
    margin-top: -10px;
    color: hsl(0, 0%, 100%);
    text-align: center;

}

/* Links */
a {
    color: hsl(0, 0%, 100%);
    margin: 10px;
    text-decoration: none;
}

a:hover {
    color: hsl(0, 0%, 80%);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

a:active {
    color: hsl(255, 100%, 85%);
}

hr {
    color: hsl(0, 0%, 50%);
    max-width: 99%;
}

/* Ascii Art*/
.ascii-art {
    color: hsl(255, 100%, 100%);
    white-space: pre;
    margin: 50px auto;
    text-align: center;
}

/* navigation bar start*/
nav {
    background-color: hsla(0, 0%, 0%, 0.3);
    backdrop-filter: blur(2px);
    backdrop-filter: ;
    position: sticky;
    top: 17px;
    z-index: 1000;
    text-align: center;
    margin: -2px auto;
    padding: 10px 15px;
    width: fit-content;
    max-width: 80%;
    border: 2px solid hsl(0, 0%, 30%);
    border-radius: 5px;

}


nav a {
    text-decoration: none;
}

nav a.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* navigation bar end*/


/* start page */
.start-page p {
    text-align: center;
    margin: 20px auto;
    max-width: 50%;
}

/* about page */
.about p {
    text-align: center;
    margin: 20px auto;
    max-width: 50%;
}

/* projects page */
.projects p {
    text-align: center;
    margin: 20px auto;
    max-width: 50%;
}



/* Socials */

.socials-box {
    text-align: left;
    margin: 40px auto;
    padding: 10px 15px;
    height: fit-content;
    width: fit-content;
    max-width: 80%;
    border: 1px dashed hsl(0, 0%, 100%);
    border-radius: 10px;

}
